<div class="container">
  <h1>Welcome to Alislist!</h1>
  
  Select category:



<select name="category">
  <option value="1">Electronics</option>option>
  <option value="2">Collectibles</option>option>
  <option value="3">Household</option>option>
  <option value="4">Tools</option>option>
  <option value="5">Sporting</option>option>
</select> 

<br><br>

<input type="text" size="25" value="Item name">

<br><br>

<input type="text" size="25" value="Price">

<br><br>

<textarea cols="40" rows="5" name="myname">
Description 
</textarea>

<br><br>

<input type="text" size="25" value="email">

<br><br>






<!--   <table>
    <tr>
      <th>File Description</th>
      <th>File Location</th>
    </tr>
    <tr>
      <td>This view file</td>
      <td><code><%= __FILE__.gsub(Sinatra::Application.root, '') %></code></td>
    </tr>
    <tr>
      <td>The layout file</td>
      <td><code><%= File.expand_path('../layout.erb', __FILE__).gsub(Sinatra::Application.root, '') %></code></td>
    </tr>
    <tr>
      <td>The current controller</td>
      <td><code><%= File.expand_path('../../controllers/index.rb', __FILE__).gsub(Sinatra::Application.root, '') %></code></td>
    </tr>
  </table> -->
</div>
