<div class="container">
  <h1>Welcome to Alislist!</h1>
  <a href="/category/1">Electornics</a>
  <a href="/category/2">Collectibles</a>
  <a href="/category/3">Household</a>
  <a href="/category/4">Tools</a>
  <a href="/category/5">Sporting</a>

  <form method = "get" action="/create_post">
    <input type="submit" value="create post">
  </form>










<!--   <table>
    <tr>
      <th>File Description</th>
      <th>File Location</th>
    </tr>
    <tr>
      <td>This view file</td>
      <td><code><%= __FILE__.gsub(Sinatra::Application.root, '') %></code></td>
    </tr>
    <tr>
      <td>The layout file</td>
      <td><code><%= File.expand_path('../layout.erb', __FILE__).gsub(Sinatra::Application.root, '') %></code></td>
    </tr>
    <tr>
      <td>The current controller</td>
      <td><code><%= File.expand_path('../../controllers/index.rb', __FILE__).gsub(Sinatra::Application.root, '') %></code></td>
    </tr>
  </table> -->
</div>
